<div class="flex-container" ng-controller="StartController">
    <div id="startA" class="start-container">
        <div></div>
        <div id="startTeamA" ng-click="buttonTeamA()">
            <i style="color: #FF0000; margin-left: 50px; text-shadow: 5px 5px 20px #ffffff;" class="float-left fa fa-users fa-3x" aria-hidden="true"></i>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="startB" class="start-container">
        <div></div>
        <div id="startTeamB" ng-click="buttonTeamB()">
            <i style="color: #00FF00; margin-right: 50px; text-shadow: 5px 5px 20px #ffffff;" class="float-right fa fa fa-users fa-3x" aria-hidden="true"></i>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>